*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.pt-100{
    padding-top: 100px;
}
.header{
    background: url(/images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 200px 0px;
    color: white;
    text-align: center;
}
.header h1{
    font-size: 65px;
    font-weight: 700;
    margin-left: 300px;
    width: 750px;

}
.header p{
    padding-top: 25px;
    padding-bottom: 30px;
}
.primary-btn{
    padding: 16px 20px;
    border: none;
    color: white;
    font-weight: 600;
    background: #FF5959;
    border-radius: 5px;

}
.donate-today{
    text-align: center;
    padding-top: 120px;
    

}


.donate-btn{
    

}
.btn-design{
    padding: 40px 40px;
    border: none;
    color: #707070;
    font-size: 30px;
    font-weight: 700;
    margin: 20px;
    border-radius: 5px;
}
.btn-design:hover{
    color: #FF5959;
    border: 2px solid #FF5959;
    transition: all linear .5s;
}
.title{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 10px;

    
}
.donate-today h4{
    padding-bottom: 10px;
}
.description{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    color: #707070;
}
.donate-today hr{
    max-width:80% ;
    margin: 0 auto;

}
.pt-50{
    margin-top: 50px;
}
/* Our donate */
.our-donate{
    text-align: center;
    padding-top: 120px;
}
/* our plan */
.our-plan{
    padding-top: 50px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: 0 auto;
}
.plan-part{
    padding: 50px 30px;
    margin: 0 auto;
}
.plan-part h3{
    padding-top: 25px;
    padding-bottom: 15px;
}
.plan-part p{
    width: 300px;
    color: #707070;
}
.one{
    background: rgba(79, 157, 166, 0.1)
    ;
}
.two{
    background: rgba(255, 89, 89, 0.1);

}
.three{
    background: rgba(245, 242, 76, 0.178);

}
/* Contribute part */
.contribute{
    padding-top: 130px;
    width: 90%;
    margin: 0 auto;
}
.contribute-items{
    display: flex;
    gap: 80px;
    
}
.contribute-text{

}
.contribute-text h3{
    color: rgba(18, 18, 18, 1);
    font-size: 45px;
    font-weight: 700;
}
.contribute-text p{
    font-size: 18px;
    color: #707070;
    font-weight: 400;
    padding: 20px 0px 30px;
}
.subrscrine-btn{
    text-align: center;
    background: rgba(250, 250, 120, 0.404);
    padding: 80px 190px;
    margin: 0 auto;
    width: 50%;
}
.btn input{
    padding: 15px;
}
/* Footer */
.footer{
    background: #000;
    padding-top: 40px;
    padding-bottom: 40px;

}
.footer h1{
    font-weight: 400;
    font-style: italic;
    font-size: 35git comitpx;
    color: rgba(255, 89, 89, 1);

}
.subtitle{
    color: #D9DBE1;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}